.navigation {
  display: none;
  width: 15px;
  position: fixed;
  bottom: 40px;
  left: 10%;
  cursor: pointer;
  z-index: 12;

  @media (min-width: 700px) {
    display: block;
  }

  @media (min-width: 1440px) {
    left: 250px;
  }

  a {
    position: relative;

    &:hover {
      opacity: 1;

      span {
        opacity: 0.7;
      }
    }
  }

  span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    display: inline-block;
    position: absolute;
    right: -25px;
    transition: opacity 0.3s;

    &:nth-child(2) {
      bottom: 4px;
    }
  }
}

.line {
  margin-left: 5.5px;
  margin-top: -5px;
  margin-bottom: -5px;
}
