.logo {
  font-size: 100px;
  margin: 0;

  @media (min-width: 700px) {
    display: none;
  }
}

.arrowdown {
  @media (min-width: 700px) {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 10%;

  @media (min-width: 700px) {
    width: 50%;
  }
}
