.content {
  composes: content from '../../css/generic.css';
  height: 100vh;
}

.headline {
  composes: headline from '../../css/generic.css';
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
}

.contactText {
  text-align: center;
  width: 100%;

  h1 {
    margin-bottom: 1.3rem;
  }

  p {
    margin-bottom: 2.8rem;
  }
}

.btn {
  composes: btn from '../../css/generic.css';
}
