.logoSmall {
  @media (min-width: 700px) {
    display: none;
  }
}

.content {
  composes: content from '../../../css/generic.css';

  @media (min-width: 700px) {
    max-width: 540px;
  }
}

.headline {
  composes: headline from '../../../css/generic.css';
}

.firstslide {
  padding: 6rem 0 10rem;

  @media (min-width: 700px){
    padding: 10rem 0;
  }
}
