.aboutSection {
  margin-bottom: 80px;
}

.content {
  composes: content from '../../css/generic.css';
}

.headline {
  composes: headline from '../../css/generic.css';
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
}

.text {
  display: inline-block;
  margin-bottom: 3.3rem;
  max-width: 540px;

  h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 24px;
    margin: 0;
  }
}

.clients {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.client {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &:nth-child(1),
  &:nth-child(2) {
    margin-bottom: 62px;
  }

  @media (min-width: 700px) {
    flex: 1 1 25%;
    margin-bottom: 0;
  }

  strong {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
  }

  svg {
    height: 62px;
    margin-bottom: 3rem;
  }
}

.contact {
  margin-bottom: 5rem;
}

.contactText {
  text-align: center;
  width: 100%;

  h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin-bottom: 1.3rem;
  }

  p {
    margin-bottom: 2.8rem;
  }
}

.btn {
  composes: btn from '../../css/generic.css';
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5.5rem 0 7rem;
  position: relative;

  .text {
    margin-bottom: 0;
  }

  @media (min-width: 700px) {
    margin: 10rem 0;
  }
}

.logoSmall {
  @media (min-width: 700px) {
    display: none;
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: 700px) {
    flex-direction: row;
  }
}

.item {
  display: flex;
  width: 100%;
  flex-direction: column;

  @media (min-width: 700px) {
    width: 50%;
    flex-direction: row;
  }

  h2 {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
  }

  svg {
    min-width: 58px;

    @media (min-width: 700px) {
      align-self: center;
      margin: 2.3rem;
    }
  }
}

.item + .item {
  margin-top: 60px;

  @media (min-width: 700px) {
    margin-top: 0;
  }
}

.employees {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;

  @media (min-width: 700px) {
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 0 -10px;
  }
}

.employee {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  padding: 0 5px;

  @media (min-width: 700px) {
    flex: 1 1 25%;
    margin-bottom: 0;
    padding: 0 10px;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 5px;
  }

  svg {
    height: 62px;
  }

  strong {
    letter-spacing: 0;
    /*line-height: 3.3;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 0.8em;
  }

  p {
    font-size: 0.7em;
    line-height: 1.6;

    @media (min-width: 700px) {
      font-size: 0.7em;
    }
  }
}
