
.aboutSection {
  margin-bottom: 11rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 10%;
}

.text {
  display: inline-block;
  margin-bottom: 3.3rem;

  h2 {
    margin: 0;
  }
}

.employees {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.employee {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  svg {
    height: 62px;
  }

  strong {
    margin-bottom: .8rem;
  }
}

.employee + .employee {
  margin-left: 1rem;
}
