.contact {
  padding-top: 2.5rem;

  @media (min-width: 700px) {
    padding: 3.5rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 10%;
}

.contactText{
  text-align: center;
  width: 100%;

  h1 {
    font-family: 'GothamPro-Black', sans-serif;
    margin-bottom: 1.3rem;
  }

  p {
    margin-bottom: 2.8rem;
  }
}

.btn {
  composes: btn from '../../../css/generic.css'
}
