:global .headroom {
    will-change: transform;
}
:global .headroom--pinned {
    transform: translateY(0%);
    transition: transform 400ms;
}
:global .headroom--unpinned {
    transform: translateY(-100%);
    transition: transform 400ms;
}
