@import "../../node_modules/normalize.css/normalize.css";
@import "./jquery.fullPage.css";
@import 'https://fonts.googleapis.com/css?family=Open+Sans:700,800';

body {
  color: #292929;
  letter-spacing: 0.1em;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  font-size: responsive;
  min-font-size: 12px;
  max-font-size: 16px;
  lower-font-range: 420px;
  upper-font-range: 1920px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: 0;
  transition: color 0.3s, opacity 0.3s;

  &:hover {
    color: #333747;
    opacity: 0.5;
  }
}

p {
  font-family: 'Space Mono', monospace;
  letter-spacing: 0;
  line-height: 1.6;
  color: #333747;
  opacity: 0.8;
  margin: 0;
}

:global .section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  &.fp-auto-height {
    min-height: auto;
  }
}

:global .headroom {
  top: 0;
  left: 0;
  right: 0;
  transition: transform 300ms ease-in-out;
}

:global .headroom--unfixed {
  position: relative;
  transform: translateY(0);
}

:global .headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}

:global .headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}
