.img {
  display: block;
  width: 93%;
  margin: 0 auto;
  height: auto;
  max-height: 65vw;
  object-fit: contain;

  @media (min-width: 700px) {
    width: 70%;
    max-height: 100vh;
    margin-right: 0;
    margin-left: auto;
    object-fit: inherit;
  }

  @media (min-width: 1024px) {
    width: 85%;
  }
}

.imgContainer {
  margin-left: auto;
  margin-right: 0;
}

.content {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;

  @media (min-width: 700px) {
    flex-direction: row;
    align-items: center;
  }
}

.text {
  composes: text from '../../../css/generic.css';
}

.headline {
  composes: headline from '../../../css/generic.css';
}

.logo {
  composes: logo from '../../../css/generic.css';
}

.firstslide {
  min-height: 100vh;
}

.link {
  display: block;
  width: 15px;
  position: absolute;
  bottom: 40px;
  left: 20px;
  cursor: pointer;

  @media (min-width: 700px) {
    left: 10%;
  }

  @media (min-width: 1440px) {
    left: 250px;
  }
}
