.arrowdown {
  @media (min-width: 700px) {
    display: none;
  }
}

.content {
  composes: content from '../../css/generic.css';
  align-items: baseline;
  padding-top: 5rem;

  h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-top: 0;
  }

  p {
    margin-bottom: 2.5rem;
  }

  @media (min-width: 700px) {
    h3 {
      width: 25%;
    }

    p {
      width: 75%;
    }

    h3,
    p {
      display: inline-block;
    }
  }
}

.link {
  color: #0076ff;
}

.featuredImage,
.caseImage {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: 1440px;
}

.caseImage {
  margin-top: 6.25rem;
  padding: 0 10%;
  max-width: 1000px;
  box-sizing: content-box;
}
