.first {
  margin: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: 700px) {
    flex-direction: row;
  }
}

.logo {
  composes: logo from '../../css/generic.css';
}

.content {
  composes: content from '../../css/generic.css';

  @media (min-width: 700px) {
    flex-direction: row;

    .text + .text {
      margin-left: 12.5rem;
    }
  }
}

.text {
  p {
    margin-bottom: 30px;
  }

  p {
    @media (min-width: 700px) {
      margin-bottom: 3rem;
    }
  }
}

.headline {
  composes: headline from '../../css/generic.css';
  margin-bottom: 13px;
  margin-top: 35px;
}

.link {
  display: inline-block;
  margin-bottom: 1.6rem;

  svg {
    width: 1.75rem;
    margin-right: 1.25rem;
  }
}

.btn {
  composes: btn from '../../css/generic.css';
}
